
/*HTML元素*/
body{
    background-color: #b2c0ce;
    font-size: 0.75rem;
}

/* CLASS */
.req-cls{
    background-color: #ffc4b0;
}
.cls{
    background-color: #ffa789;
}

/* ID */
#hate{
    color: #8c0c0c;
}